* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.style {
    display: flex;
}

input {
    padding: 0.5rem;
}

button {
    padding: 0.5rem;
}

.grön {
    color: green;
}

.blå {
    color: blue;
}

.röd {
    color: red;
}